@use '../../Styles/variables'


@mixin font-title()
  font-style: italic
  font-size: 24px
  background-color: #f1f1f1
  line-height: 45px

@mixin button-style ()
  color: variables.$secundary-color
  padding: 1em
  border: solid 2px variables.$secundary-color
  border-radius: 15px
  width: 200px
  text-decoration: none
  margin: 15px 25px
  &:hover
    border: solid 2.5px 
    font-weight: bold

.banner
  @include font-title
  text-align: center
  color: variables.$secundary-color
  border: solid 7px variables.$terciary-color
  padding: 1.5em 0
  img
    width:100%
    border-radius: 0px 60px
    margin-bottom: .5em
  .givineflower
    margin: 0 auto
  .infinite 
    color: #daa520
    animation: infinito infinite 5s linear
    border: solid 5px 
    border-radius: 100px
    margin: 0
    padding: 10px
  .simbol
    display: flex
    justify-content: center
    align-items: center
    hr
      border: solid 10px variables.$terciary-color
      width: 25%
  h2
    margin: 0
    padding: .2em
    color: variables.$secundary-color
  h1
    animation: rotation infinite 5s linear
    color: variables.$terciary-color
    line-height: 50px
    text-shadow: 12px 15px 8px
    font-family: "Dancing Script", cursive

  h4
    text-transform: uppercase
    font-style: italic
    padding: 10px
    color: red
    font-family: "Dancing Script", cursive
    box-shadow: 8px 8px 8px gray
  p
    color: variables.$secundary-color
    margin: 40px
  .FaRegHandPointDown
    color: variables.$secundary-color
    &:hover
      color: #daa520
  .links_container
    a
      @include button-style
      color: variables.$secundary-color

  a
    @include button-style
    display: inline-block
    box-shadow: 8px 8px 8px gray
    color: variables.$secundary-color
    &:hover
      color: variables.$terciary-color

  @keyframes rotation 
    from
      transform: rotateY(0deg)
    to
      transform: rotateY(360deg)

  @keyframes infinito
    from 
      transform: rotateY(0deg)
    to 
      transform: rotateY(360deg)
