@use '../../Styles/variables'
@use '../../Styles/mixins'

#root
  max-width: 100%
  background-color: #f0f0f0

.banner
  @include mixins.font-title ()
  text-align: center
  color: variables.$secundary-color
  box-sizing: border-box
  img
    width: 80%
    box-sizing: border-box
    border-radius: 12%
    box-shadow: 0 0 20px variables.$secundary-color
    margin: 1.5em auto 0


  .heart
    box-sizing: border-box
    margin: 0 2px
    color: #daa520
    opacity: 0.9
    &:hover
      padding-bottom: .2em
      color: #ff0000

  .infinite
    color: #daa520
    animation: infinito infinite 7s linear
    border-radius: 100%
    opacity: 0.9
    margin: 0
    padding: 5px
    &:hover
      color: #f00

  .main
    padding: 1em

  .simbol
    display: flex
    justify-content: center
    align-items: center

  .hours, .maranata
    color: variables.$secundary-color
    text-shadow: 5px 5px 5px

  .title, .date
    color: variables.$terciary-color
    line-height: 50px
    letter-spacing: 3px
    text-shadow: 12px 15px 5px
    font-family: "Dancing Script", cursive

  .subtitle
    color: variables.$secundary-color
    font-family: "Dancing Script", cursive
    text-shadow: 5px 5px 5px
    font-size: 32px

  .text, .end_text
    color: variables.$secundary-color
    text-shadow: 5px 5px 5px

  .FaRegHandPointDown
    color: variables.$secundary-color
    justify-content: center

  .links_container
    a
      @include mixins.button-style ()
      margin: .5em 10px
      color: variables.$secundary-color
      text-shadow: 5px 5px 5px
  a
    @include mixins.button-style ()
    display: inline-block
    @include mixins.box-shadow()
    text-shadow: 5px 5px 5px
    margin: .5em 10px

    &:hover
      color: #daa520

  @keyframes rotation
    from
      transform: rotateY(0deg)
    to
      transform: rotateY(360deg)

  @keyframes infinito
    from
      transform: rotatey(0deg)
    to
      transform: rotatey(360deg)

  @keyframes slideOfWord
    from
      margin-left: 100%
      width: 30%
    to
      margin-left: 0%
      width: 100%

@media screen and (min-width: 768px)
  .banner
    img
      width: 50%
      clip-path: circle()