@use '../../Styles/variables'
@use '../../Styles/mixins'

#root
  background-color: #f0f0f0
.banner
  @include mixins.font-title ()
  text-align: center
  color: variables.$secundary-color
  box-sizing: border-box
  img
    width: 100%
    box-sizing: border-box
    padding: .7em .7em 0

  .heart
    color: #daa520
    padding: 2px
    opacity: 0.9
    &:hover
      padding-bottom: .2em
      color: #ff0000

  .infinite
    color: #daa520
    animation: infinito infinite 7s linear
    border-radius: 100%
    opacity: 0.9
    margin: 0
    padding: 5px
    @include mixins.box-shadow()

    &:hover
      box-shadow: -5px 5px 10px #daa520
      padding: 5px
  .main
    padding: 1em
  .simbol
    display: flex
    justify-content: center
    align-items: center
  h2
    margin: 0
    padding: .2em
    color: variables.$secundary-color
    text-shadow: 5px 5px 5px
    
  .title
    color: variables.$terciary-color
    line-height: 50px
    letter-spacing: 3px
    text-shadow: 12px 15px 5px
    font-family: "Dancing Script", cursive

  .subtitle
    text-transform: uppercase
    font-style: italic
    padding: 20px
    color: variables.$secundary-color
    font-family: "Dancing Script", cursive
    text-shadow: 5px 5px 5px
    @include mixins.box-shadow()
    border-top-right-radius: 24px
    border-bottom-left-radius: 24px

  p
    color: variables.$secundary-color
    margin: 40px
    text-shadow: 5px 5px 5px
  .FaRegHandPointDown
    color: variables.$secundary-color
    justify-content: center
  .links_container
    a
      @include mixins.button-style ()
      color: variables.$secundary-color
      text-shadow: 5px 5px 5px
  a
    @include mixins.button-style ()
    display: inline-block
    @include mixins.box-shadow()
    text-shadow: 5px 5px 5px
    &:hover
      color: #daa520

  @keyframes rotation
    from
      transform: rotateY(0deg)
    to
      transform: rotateY(360deg)

  @keyframes infinito
    from
      transform: rotateY(0deg)
    to
      transform: rotateY(360deg)

  @keyframes slideOfWord
    from
      margin-left: 100%
      width: 30%
    to
      margin-left: 0%
      width: 100%

@media screen and (min-width: 914px)
  .banner
    img
      width: 70%
